
@{
    ViewData["Title"] = "Sliders | SA SOLAR EXPERTS";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    /* Initially hide the hover content */
    .hover-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        text-align: center;
        background: rgba(0, 0, 0, 0.6); /* Optional: semi-transparent background */
        color: #fff;
        padding: 10px;
        border-radius: 5px;
        width: 90%;
    }

    /* Show .hover-content on hover */
    .col-md-6.mb-2:hover .hover-content {
        display: block;
    }

</style>

<div class="row">
    <div class="col-md-12 mb-2 text-right">
        <button type="button" data-bs-toggle="modal" data-bs-target="#SliderModal" class="btn btn-primary"><i class="fas fa-plus"></i></button>
    </div>
    <div class="col-md-12">
        <div class="row" id="sliderList">
            
        </div>
    </div>
</div>


<div class="modal fade" id="SliderModal" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <b>Title</b><label class="error" id="lblErrTitle"></label>
                        <input type="text" class="form-control" name="txtTitle" id="txtTitle" placeholder="Title" />
                    </div>
                    <div class="col-md-12 mb-3">
                        <b>Photo</b><label class="error" id="lblErrPhoto"></label>
                        <input type="file" class="form-control" name="fupPhoto" id="fupPhoto" />
                    </div>
                    <div class="col-md-12 mb-3">
                        <b>Description</b><label class="error" id="lblErrDescription"></label>
                        <textarea class="form-control" name="txtDescription" id="txtDescription" value="" placeholder="Description"></textarea>
                    </div>
                    <div class="col-md-12 mb-1">
                        <button type="button" class="btn btn-success" id="btnSave" name="btnSave">Upload</button>
                        <button type="reset" onclick="cancleForm()" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function DeleteData(Id) {
        if (confirm("Are You Sure Want to Delete this Record..!!")) {
            var Path = "@Url.Content("~/api/")deleteSlider/" + Id;

            $.ajax({
                url: Path,
                type: "delete",
                processData: false,  // tell jQuery not to process the data
                contentType: false   // tell jQuery not to set contentType
            }).done(function (data) {
                console.log(data);
                if (data.status == "OK") {
                    $("#sliderDiv_" + Id).remove();
                }
            });
        }
    }

    function getData(){
        $.get("@Url.Content("~/api/showSliders")")
            .done(function (data, status) {
                if (data.status == "OK") {
                    $("#sliderList").empty();
                    var jsonResponse = data.result;
                    jsonResponse.map((o, index) => {
                        $("#sliderList").append(`<div id="sliderDiv_${o.id}" class="col-md-6 mb-2">
                                                        <div class="card position-relative">
                                                            <div class="card-body">
                                                                <img src="@Url.Content("~/Sliders/")${o.imgPath}" style="width: 100%; height: 250px;" />
                                                                <div class="hover-content text-center">
                                                                    <b>${o.title}</b><br />
                                                                    <button onClick="DeleteData(${o.id})" class="btn btn-primary mt-2"><i class="fas fa-trash text-white delete-icon"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>`);


                    });
                }
                else {
                    alert("Something Went Wrong");
                }
            })
            .fail(function () {
                alert("Error");
            });
    }

    function cancleForm() {
        $("#txtTitle").val("");
        $("#txtDescription").val("");
    }

    $(document).ready(function(){
        let base64String = null;
        $("#btnSave").click(function () {
            var Cnt = 0;
            Cnt = IsEmpty("txtTitle", "lblErrTitle", Cnt);
            Cnt = FileValidtion("fupPhoto", "lblErrPhoto", Cnt);
            
            if (Cnt == 0) {
                $("#btnSave").html("<i class='fas fa-spinner fa-pulse'></i>&nbsp;Please Wait....");
                $("#btnSave").prop("disabled", true);

                var jsonRequest = {
                    "Title": $("#txtTitle").val().toUpperCase(),
                    "Description": $("#txtDescription").val(),
                    "imgPath": (base64String != null ? base64String.replace(/^data:image\/[a-zA-Z]+;base64,/, "") : null),
                    "Status": "true"
                };

                var requestURL = "@Url.Content("~/api/uploadSliders")";

                $.ajax({
                    url: requestURL,
                    type: "post",
                    contentType: "application/json",
                    data: JSON.stringify(jsonRequest),
                    success: function (response) {
                        if (response.status == "OK") {
                            SuccessAlert("Successfully Uploaded");
                            cancleForm();
                            $("#SliderModal").modal("hide");
                            $("#btnSave").html("Upload");
                            $("#btnSave").prop("disabled", false);
                            getData();
                        }
                        console.log(response.status);
                    }
                });
            }
        });

        $("#fupPhoto").change(function () {
            var file = this.files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    base64String = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        });

        getData();
    });
</script>